  <article>
    <a href=<%= user_path(user) %>>
      <div class="flex flex-col sm:flex-row bg-gradient-to-br from-indigo-800 to-indigo-900 rounded-lg shadow-lg">
        <div class="flex-none w-full h-48 sm:w-48 relative">
          <%= image_tag user.photo_link,
            alt: 'user',
            class: 'absolute inset-0 w-full h-full object-cover rounded-l-lg' %>
        </div>
        <div class="w-full flex flex-wrap justify-between items-end px-12 py-6 h-48">
          <h2 class="font-bold text-3xl self-center">
            <%= user.name %>
          </h2>
          <p>Number of posts:
            <span class="font-bold text-red-400">
              <%= user.posts_counter %>
            </span></p>
        </div>
      </div>
    </a>
  </article>

