<article class="flex bg-gray-800 rounded-lg shadow-lg">
  <div class="flex-none w-48 relative">
    <%= image_tag 'portrait-small.jpg', alt: 'user', class: 'absolute inset-0 w-full h-full object-cover rounded-l-lg' %>
  </div>
  <div class="w-full flex justify-between items-end px-12 py-6 h-36">
    <h2 class="font-bold text-2xl self-center">User Name</h2>
    <p>Number of posts: <span class="font-bold text-red-400">12</span></p>
  </div>
</article>
