<article class="users-card">
  <div class="users-card__img-container">
    <%= image_tag '', alt: '' %>
  </div>
  <div class="users-card__info">
    <h2>User Name</h2>
    <p>Number of posts: <span>X</span></p>
  </div>
</article>
