<div class="flex flex-col gap-12 sm:px-0">
  <article>
    <a href="/users/1">
      <div class="flex flex-col sm:flex-row bg-gray-800 rounded-lg shadow-lg">
        <div class="flex-none w-full h-48 sm:w-48 relative">
          <%= image_tag 'portrait-medium.jpg',
            alt: 'user',
            class: 'absolute inset-0 w-full h-full object-cover rounded-l-lg' %>
        </div>
        <div class="w-full flex flex-wrap justify-between items-end px-12 py-6 h-48">
          <h2 class="font-bold text-3xl self-center">User Name</h2>
          <p>Number of posts: <span class="font-bold text-red-400">12</span></p>
        </div>
      </div>
    </a>
  </article>
  <article>
    <a href="/users/1">
      <div class="flex flex-col sm:flex-row bg-gray-800 rounded-lg shadow-lg">
        <div class="flex-none w-full h-48 sm:w-48 relative">
          <%= image_tag 'portrait-medium.jpg',
            alt: 'user',
            class: 'absolute inset-0 w-full h-full object-cover rounded-l-lg' %>
        </div>
        <div class="w-full flex flex-wrap justify-between items-end px-12 py-6 h-48">
          <h2 class="font-bold text-3xl self-center">User Name</h2>
          <p>Number of posts: <span class="font-bold text-red-400">12</span></p>
        </div>
      </div>
    </a>
  </article>
  <article>
    <a href="/users/1">
      <div class="flex flex-col sm:flex-row bg-gray-800 rounded-lg shadow-lg">
        <div class="flex-none w-full h-48 sm:w-48 relative">
          <%= image_tag 'portrait-medium.jpg',
            alt: 'user',
            class: 'absolute inset-0 w-full h-full object-cover rounded-l-lg' %>
        </div>
        <div class="w-full flex flex-wrap justify-between items-end px-12 py-6 h-48">
          <h2 class="font-bold text-3xl self-center">User Name</h2>
          <p>Number of posts: <span class="font-bold text-red-400">12</span></p>
        </div>
      </div>
    </a>
  </article>
</div>
