<article class="bg-gray-700 px-12 py-6">
  <div class="users-card__img-container">
    <%= image_tag '', alt: '' %>
  </div>
  <div class="users-card__info">
    <h2>User Name: Daniel J</h2>
    <p>Another paragraph</p>
    <p>Number of posts: <span>X</span></p>
  </div>
</article>
