<div class="flex flex-col gap-12 sm:px-0">
  <% if can? :read , @user %>
    <% @users.includes(:posts).each do |user| %>
      <%= render 'user_card', user: user %>
    <% end %>
    <% if @users.length == 0 %>
      <div class="text-center flex flex-col h-72 justify-center bg-indigo-900 rounded-xl shadow-xl mt-20 px-4">
        <h2 class="text-3xl mb-2 font-bold">You're the first user in our App, congratulations.</h2>
        <p class="text-xl opacity-70">Please log in to start creating awesome posts!</p>
      </div>
    <% end %>
  <% else %>
    <div class="flex flex-col justify-center p-4 mt-12 sm:flex-row bg-gradient-to-br from-indigo-800 to-indigo-900 rounded-lg shadow-lg">
      <h2 class="text-3xl mb-2 font-bold">Who are you???!!</h2>
    </div>
  <% end %>
</div>
