<div class="flex mb-6">
  <div class="flex-none w-14 h-14 relative mr-6">
    <%= image_tag comment.author.photo_link,
            alt: 'user',
            class: 'absolute inset-0 w-full h-full object-cover rounded-full' %>
  </div>
  <div class="bg-gray-900 px-6 py-2 rounded-lg">
    <h5 class="font-bold text-gray-400 text-sm mb-1">
      <%= comment.author.name %>
    </h5>
    <p class="text-gray-400 text-sm flex justify-between">
      <%= comment.text %>

      <% if can? :delete, comment %>
        <%= link_to (user_post_comment_path(comment.post.author, comment.post, comment)), method: :delete do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-4 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        <% end %>
      <% end %>

    </p>
  </div>
</div>
