<footer class="container text-center py-6 mt-12">
  <p>Developed by: <a href="https://d4nielj.netlify.app/" target="_blank" rel="noopener noreferrer">D4nielJ</a></p>
  <p>Created using: Ruby on Rails, Tailwindcss and more.</p>
</footer>
