<header>
  <div class="container flex justify-between items-baseline py-12">
    <a class="font-bold tracking-tight text-2xl uppercase text-indigo-300 hover:text-white" href="/">BLOG ON RAILS</a>
    <nav>
      <ul class="gap-x-6 hidden sm:flex">
        <li><a class="hover:underline" href="/">Users</a></li>
        <li><a class="hover:underline" href="/">About</a></li>
      </ul>
    </nav>
  </div>
</header>
